* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: normall;
  font-style: normal;
  font-size: 4rem;
}

@media (max-width: 768px) {
  body {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 2rem;
  }
}