---
import { Image } from 'astro:assets';
import logoImage from '../../public/logo.svg';
import iconeImage from '../../public/icone.svg';
import asteriscoImage from '../../public/asterisco.svg';
---

<div class="w-full min-h-dvh flex gap-4 flex-col justify-between relative" id="hero">
  <div class="w-ful p-10 flex justify-between items-start">
    <span id="logo" class="text-2xl md:text-3xl"></span>

    <ul id="menu" class="flex flex-col justify-end items-end fixed right-20 top-20">
      <li class="leading-7"><a href="">Trabalhos</a></li>
      <li class="leading-7"><a href="">A empresa</a></li>
      <li class="leading-7"><a href="">Desenvolvimento</a></li>
      <li class="leading-7"><a href="">Soluções</a></li>
      <li class="leading-7"><a href="">Contato</a></li>
    </ul>
  </div>

  <div class="w-[90%] mx-auto p-10 flex items-center justify-between h-full">
    <h2 class="text-4xl md:text-6xl leading-normal">Pensar,<br /> Desenhar,<br /> Desenvolver,<br /> Lançar,<br /> Repetir.</h2>
  </div>

  <div class="absolute bottom-0 left-0 w-[90%] h-full text-center flex justify-end items-center" style="z-index: -1;">
    <Image id="icone" src={iconeImage} class="max-w-96 w-full" alt="Icone" />
  </div>

  <div class="w-full">
    <marquee behavior="scroll" direction="left" class="text-7xl"> WEB & DESIGN STUDIO * NÚMERIC0 * WEB & DESIGN STUDIO * NÚMERIC0 * WEB & DESIGN STUDIO * NÚMERIC0 * WEB & DESIGN STUDIO * NÚMERIC0 * WEB & DESIGN STUDIO * NÚMERIC0 * </marquee>
  </div>
</div>

<div class="w-full min-h-dvh p-10 py-20 flex justify-center items-center text-center relative overflow-hidden">
  <Image id="asterisco" src={asteriscoImage} class="max-w-96 w-full absolute top-52 left-0" style="z-index: -1;" alt="Logo" />
  <div class="max-w-md">
    <h3 class="text-2xl">desenvolva sua marca, venda online para todo o mundo, atraia mais clientes</h3>
  </div>
</div>

<!-- <div class="p-10 py-20 w-full flex justify-center items-center text-left">
    <div class="max-w-md">
      <h3 class="text-7xl leading-tight">Pensar,<br /> Desenhar,<br /> Desenvolver,<br /> Lançar,<br /> Repetir.</h3>
    </div>
  </div> -->

<div class="w-full bg-black min-h-dvh p-10 flex flex-col justify-center items-center text-stone-100 text-center">
  <div class="max-w-lg flex flex-col justify-center items-center gap-20">
    <span class="text-4xl md:text-6xl leading-tight">Vamos fazer algo incrível <u>juntos</u></span>
    <span class="text-xl md:text-2xl leading-tight">contato@numeric0.com</span>
  </div>
</div>

<style></style>
