<!-- <h1 class="text-4xl md:text-8xl flex flex-col uppercase">
  Pensar🤔,<br />
  Desenhar✏️,<br />
  Desenvolver🧑‍💻,<br />
  Lançar🚀,<br />
  Repetir🔄.
</h1> -->
<div class="w-full min-h-dvh flex gap-4 flex-col justify-between relative icone" id="hero">
  <div class="relative w-full min-h-dvh h-full flex items-center justify-center">
    <div class="mask-icone text-stone-100 p-10 flex items-center justify-between w-full h-full">
      <div class="absolute -z-20 top-0 left-0 flex justify-between items-start">
        <span class="text-2xl md:text-3xl p-10">numéric0</span>
      </div>

      <h1 class="text-4xl md:text-6xl lg:text-8xl flex flex-col uppercase max-w-7xl">Pensar, Desenhar, Desenvolver, Lançar, Repetir.</h1>
      <ul id="menu" class="uppercase hidden md:flex flex-col justify-end items-end absolute top-10 right-10 -z-20">
        <li class="leading-7"><a href="#">Trabalhos</a></li>
        <li class="leading-7"><a href="#">A empresa</a></li>
        <li class="leading-7"><a href="#">Desenvolvimento</a></li>
        <li class="leading-7"><a href="#">Soluções</a></li>
        <li class="leading-7"><a href="#">Contato</a></li>
      </ul>

      <div class="w-full absolute -z-20 bottom-0 left-0">
        <div class="marquee w-full flex justify-center items-center">
          <div class="track">
            <div class="content text-5xl md:text-7xl">WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO *</div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-10 flex items-center justify-between w-full h-full">
      <div class="absolute -z-20 top-0 left-0 flex justify-between items-start">
        <span class="text-2xl md:text-3xl p-10">numéric0</span>
      </div>

      <h1 class="text-4xl md:text-6xl lg:text-8xl flex flex-col uppercase max-w-7xl">Pensar, Desenhar, Desenvolver, Lançar, Repetir.</h1>
      <ul id="menu" class="uppercase hidden md:flex flex-col justify-end items-end absolute top-10 right-10 -z-20">
        <li class="leading-7"><a href="#">Trabalhos</a></li>
        <li class="leading-7"><a href="#">A empresa</a></li>
        <li class="leading-7"><a href="#">Desenvolvimento</a></li>
        <li class="leading-7"><a href="#">Soluções</a></li>
        <li class="leading-7"><a href="#">Contato</a></li>
      </ul>

      <div class="w-full absolute -z-20 bottom-0 left-0">
        <div class="marquee w-full flex justify-center items-center">
          <div class="track">
            <div class="content text-5xl md:text-7xl">WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO * WEB & DESIGN STUDIO * NUMÉRICO *</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="asterisco relative w-full min-h-dvh h-full flex justify-center items-center">
  <div class="mask-asterisco text-stone-100 w-full h-full flex justify-center items-center text-center">
    <div class="max-w-md">
      <h3 class="text-2xl uppercase">Revolucione sua presença online com nossas soluções em design. Oferecemos experiências únicas em sites, e-commerces e aplicativos.</h3>
    </div>
  </div>

  <div class="w-full h-full flex justify-center items-center text-center">
    <div class="max-w-md">
      <h3 class="text-2xl uppercase">Revolucione sua presença online com nossas soluções em design. Oferecemos experiências únicas em sites, e-commerces e aplicativos.</h3>
    </div>
  </div>
</div>

<div class="w-full min-h-dvh flex flex-col justify-center items-center text-center overflow-hidden uppercase" id="together">
  <div class="max-w-lg flex flex-col justify-center items-center text-center gap-20">
    <div class="">
      <span class="text-4xl md:text-6xl flex justify-center items-center">Vamos fazer</span>
      <span class="text-4xl md:text-6xl flex justify-center items-center">algo incrível</span>
      <span class="text-4xl md:text-6xl flex justify-center items-center"><u>juntos</u></span>
      <span class="text-xl md:text-2xl flex justify-center items-center mt-10">
        <a href="mailto:contato@numeric0.com">contato@numeric0.com</a>
      </span>
    </div>
  </div>
</div>

<style>
  .icone {
    background-image: url('/icone.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 500px;
  }

  .mask-icone {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url('/icone.svg');
    mask-repeat: no-repeat;
    mask-position: 100% 100%;
    mask-size: 500px;
  }

  .asterisco {
    background-image: url('/asterisco.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 500px;
  }

  .mask-asterisco {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url('/asterisco.svg');
    mask-repeat: no-repeat;
    mask-position: 0% 50%;
    mask-size: 500px;
  }

  @media (max-width: 640px) {
    .asterisco,
    .icone {
      background-size: 700px;
    }

    .mask-asterisco,
    .mask-icone {
      mask-size: 700px;
    }
  }

  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
